* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height:100%;
    background-image: url(wallpaper-weather.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    
  }
  html{
    
  }
  #app{
    height:100%
  }

.modalHead{
    flex: 1;
    justifyContent: 'center';
    alignItems: 'center';
    alignContent: 'center';
 }
 .busPhoto{
     width:45%;
     height:45%;
 }
 .border{
    border: 5px solid black;
  }
  #wrapper{
      position: relative;
  }
  #over_map{
      position: absolute;
       top: 10px;
        left: 10px;
     z-index: 100
  }
  

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    padding-left: 10px;
    background-color: 'rgba(52, 52, 52, 0.8)';
    color:'rgba(52, 52, 52, 0.8)';
    
   
  }



